.modal-post{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-post
.modal-post-form{
  width: 500px;
  background-color: white;
  padding: 10px;
  height: auto;
}
.modal-post-form 
h3{
  text-align: center;
}
.modal-post-form
p
.upload
i{
  margin-right: 10px;
}
#output{
  display: none;
}
.modal-post-form
p
.upload{
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 5px 10px;
}
.modal-post-form
input[type="submit"]{
  background-color: #333333;
  display: block;
  color: white;
  border: none;
  width: 100%;
  border: 1px solid #333333;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s all;
}
.modal-post-form
input[type="submit"]:hover{
  background-color: white;
  color: #333333;
}
.modal-post-form
textarea{
  width: 100%;
  height: 100px;
  margin-top: 5px;
  border: 1px solid #ccc;
  text-indent: 10px;
  background-color: #f8f8f8;
  resize: none;
  border-radius: 4px;
  outline: none;
}
.modal-post-form
input{
  outline: none;
}