/* .chat-row{
    margin-top: 50px;
}
.chat-user-list{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}
.chat-image{
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
}
.chat-image span{
    color: white;
} */